.languages{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    word-break: break-word; 
    padding: 0;
    margin: 0;
    list-style: none; 
}

.languages li{
    padding: 0 1rem;
    font-weight: 700;
}

.languages li::before{
    content: "✔";
    display: inline-block;
    padding: 0 .3rem 0 0;
}